*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.button{
    cursor: pointer;
    border: none;
    background-color: #666;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    outline: none;
    transition: .3s;
    
    &--remove{
        margin-right: 20px;
        background-color: #ff4c4c;
    }
    &--check{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid black;
    }
}
.todo{
    
    &-wrapper{
        max-width: 500px;
        margin: 100px auto;
    }
    
    &-main{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        
        [type="text"]{
            padding: 5px 15px;
            font-size: 20px;
            width: 400px;
        }
    }
    
    &-content{
        padding: 15px;
        
        .editor{
            position: absolute;
            left: -320px;
            top: 0;
            width: 300px;
            padding: 5px 10px;
        }
        &__item{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            align-items: center;
            border-bottom: 2px solid #0099e5;
            padding-bottom: 10px;
            transition: .3s;
            position: relative;
            
            &.checked{
                border-color: #00a98f;
                .task{
                    color: #999;
                    
                    &:before{
                        width: 100%;
                    }
                }
                .button{
                    &--check{
                        background-color: #00a98f;
                        border-color: #00a98f;
                    }
                }
            }
            .task{
                font-size: 22px;
                font-weight: bold;
                position: relative;
                transition: .3s;
                max-width: 300px;
                overflow: auto;
                
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 2px;
                    background-color: #999;
                    transition: .3s;
                }
            }
            .event-wrapper{
                display: flex;
                align-items: center;
            }
        }
    }
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.media-text{
    position: absolute;
    left: 20px;
    top: 30px;
    color: #777;
    font-weight: bold;
}
[type="text"]{
    outline: none;
}